{{> header}}
{{> nav}}

{{message}} {{!-- Friend request sent!, then displays the info of the friend who has been clicked (profile pic, , username, and name (if allowed in their settings)) --}}


<div class="container">
    <img src="{{friend.image}}" alt="{{friend.name}}" class="img-thumbnail">
    <h3>{{friend.username}}</h3>
    <p>{{friend.name}}</p>
</div>

{{> footer}}