{{> header}}

<div class="container">
    <button class="btn btn-primary">Add Friend</button>
    <div class="row">
        {{#each friends}}
        <div class="col-sm-4">
            <a href="/friends/{{this.id}}">
                <img src="{{this.image}}" alt="{{this.name}}" class="img-thumbnail">
                <h3>{{this.name}}</h3>
            </a>
        </div>
        {{/each}}
    </div>

    <button class="btn btn-primary mt-4">Add Group</button>
    <div class="row">
        {{#each groups}}
        <div class="col-sm-4">
            <a href="/groups/{{this.id}}">
                <img src="{{this.image}}" alt="{{this.name}}" class="img-thumbnail">
                <h3>{{this.name}}</h3>
            </a>
        </div>
        {{/each}}
    </div>
</div>

{{> footer}}

{{!--
app.get('/friends/:id', (req, res) => {
    // Fetch friend data using req.params.id and render the friend detail page
});

app.get('/groups/:id', (req, res) => {
    // Fetch group data using req.params.id and render the group detail page
});
--}}