{{> header}}

{{message}} {{!-- Group created successfully!, then displays the info of the group, same as when clicking on group from home page (group pic, , users in the group, payment history, etc.--}}

<div class="container">
    <img src="{{group.image}}" alt="{{group.name}}" class="img-thumbnail">
    <h3>{{group.name}}</h3>
    <p>Users: {{group.users}}</p>
    <p>Payment History: {{group.paymentHistory}}</p>
</div>


{{> footer}}
