<div class="container">
    <div class="col-4">
        <h1>Home</h1>
    </div>
    <button class="btn btn-secondary" data-bs-toggle="dropdown" aria-expanded="false" style="margin: 1em">Notifications</button>
    <ul class="dropdown-menu">
        {{#each notifications}}
    <li><a class="dropdown-item">{{this.message}}</a></li>
        {{/each}}
  </ul>
    <button class="btn btn-secondary" data-bs-toggle="dropdown" aria-expanded="false" style="margin: 1em">Settings</button>
    <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="../ManageAccount">Manage Account</a></li>
    <li><a class="dropdown-item" href="../logout">Logout</a></li>
  </ul>
</div>

<div class="container">
    <button type="submit" class="btn btn-primary" style="margin: 1em" onclick="location.href = ('../addFriends')">Add Friend</button>
    <button type="submit" class="btn btn-primary" style="margin: 1em" onclick="location.href = ('../createGroup')">Add Group</button>
</div>

<!--Groups-->
<div class="container">
    <div class="row">
        <h2 style="text-decoration:underline">Groups list</h2>        
        <table class="table">
            <tbody>
<!--If user is admin in a group -->
            {{#if admin}}
            <tr>
                <th>{{admin.group_admin_username}}</th>
                <th><a class="btn" onclick="location.href='../ExampleGroup'" style="font-weight:bold">{{admin.group_name}}</a></th>
            </tr>
            {{/if}}
            <tr>
                {{#if admin}}
                {{/if}}
                {{#each admin_members}}
                    <td>{{this.username}}</td>
                {{/each}}
            </tr>
<!--If user is a member in a group-->
            {{#if not_admin}}
                <th>{{not_admin.group_admin_username}}</th>
                <th><a class="btn" onclick="location.href='../ExampleGroup'" style="font-weight:bold">{{not_admin.group_name}}</a></th>
            {{/if}}
            <tr>
                {{#each not_admin_members}}
                    <td>{{this.username}}</td>
                {{/each}}
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!--Friends-->
<div class="container">
    <div class="row">
        <h2 style="text-decoration:underline">Friends list</h2>        
        <table class="table">
            <tbody>
            {{#each friendships}}
                <tr>
                    <td>
                    <!--<img src="{{this.image}}" alt="{{this.name}}" class="img-thumbnail">-->
                    <a class="btn" onclick="location.href='../ExampleFriend'">{{this.friend_username}}</a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>