<style>
    * { margin: 0; padding: 0; } 
    
    .imgbox { 
      position: relative; width: 100%;
      height: 100vh; background: url('images/PageBackground.png') no-repeat center
      center/cover;    }
</style>

<div class="imgbox">
    {{> nav}}
    <div class="container" style="overflow-y: scroll; height: 90vh; width: 200vw; margin-left: 0px; margin-right: 0px; padding: auto; align-items: center">
        <!--Groups-->
        <div class="row">
            <div class="row align-items-center">
                <h2 style="text-decoration:underline">Groups list</h2>   
                <button type="submit" class="btn btn-primary" style="margin: 1em" onclick="location.href = ('../createGroup')">Add Group</button>
            </div>
            {{#each admin}}
                <table class="table" style="text-align:center; margin:1em">
                    <tbody>
                        <!--If user is admin in a group -->
                        <tr>
                            <th width="20%"><a class="btn viewGroup" style="font-weight:bold">{{this.group_name}}</a></th>
                        </tr>
                        <tr>
                            <th>Admin: {{this.group_admin_username}}</th>
                            <td width="10%">Group members:</td>
                            {{#each ../admin_members}}
                                {{#ifEquals this.group_id ../this.id}}
                                    <td>{{this.username}}</td>
                                {{/ifEquals}}
                            {{/each}}
                        </tr>
                    </tbody>
                </table>
            {{/each}}
            {{#each not_admin}}
                <table class="table" style="text-align:center; margin:1em">
                    <tbody>    
                        <!--If user is a member in a group-->
                        <tr>
                            <th width="20%"><a class="btn viewGroup"  style="font-weight:bold" >{{this.group_name}}</a></th>
                        </tr>
                        <tr>
                            <th>Admin: {{this.group_admin_username}}</th>
                            <td width="10%">Group members:</td>
                            {{#each ../not_admin_members}}
                                {{#ifEquals this.group_id ../this.id}}
                                    <td>{{this.username}}</td>
                                {{/ifEquals}}
                            {{/each}}
                        </tr>
                    </tbody>
                </table>
            {{/each}}
        </div>

        <!--Friends-->
        <div class="row">
            <div class="row align-items-center">
                <h2 style="text-decoration:underline">Friends list</h2>        
                <button type="submit" class="btn btn-primary" style="margin: 1em" onclick="location.href = ('../addFriends')">Add Friend</button>
            </div>
            <table class="table">
                <tbody>
                    {{#each friendships}}
                        <tr>
                            <td>
                                <!--<img src="{{this.image}}" alt="{{this.name}}" class="img-thumbnail">-->
                                <a class="btn viewUserButton">{{this.friend_username}}</a></td>                        <td>
                                {{#if this.outstanding_balance}}
                                    <h5>Outstanding balance: ${{this.outstanding_balance}}</h5>
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <!--Transaction history-->
        <div class="row">
            <div class="row align-items-center">
                <h2 style="text-decoration:underline">Transaction History</h2>        
            </div>
            <table class="table">
                <tbody>
                    {{#if user}}
                        {{#each transactions}}
                            {{#ifEquals this.sender_username ../user.username}}
                                <tr>
                                    <th>Sent amount: ${{this.charge_amount}}</th>
                                    <td>{{this.date}}</td>
                                    <td>{{this.charge_desc}}</td>
                                    <td>Sent to: {{this.recipient_username}}</td>
                                </tr>
                            {{/ifEquals}}
                            {{#ifEquals this.recipient_username ../user.username}}
                                <tr>
                                    <th>Recieved amount: ${{this.charge_amount}}</th>
                                    <td>{{this.date}}</td>
                                    <td>{{this.charge_desc}}</td>
                                    <td>Recieved from: {{this.sender_username}}</td>
                                </tr>
                            {{/ifEquals}}
                        {{/each}}
                    {{/if}}
                </tbody>
            </table>

    <script>
    $(document).ready(function(){
        document.querySelectorAll('.viewGroup').forEach(function(button) {
            button.addEventListener('click', function() {
                window.location.href = '/group/' + this.innerHTML;    
            });
        });
    });

    $(document).ready(function(){
        document.querySelectorAll('.viewUserButton').forEach(function(button) {
            button.addEventListener('click', function() {
                window.location.href = '/viewUser/' + this.innerHTML;    
            });
        });
    });
    </script>
</div>


{{!-- onclick="location.href='../group'" --}}